! Font
URxvt.font:                 xft:Inconsolata:size=20:antialias=true
URxvt.boldFont: xft:Inconsolata Bold:size=22
URxvt.letterSpace: 2

! Fugly scrollbar
URxvt.scrollBar:            false

!Disables the insanely annoying Ctrl+Shift shortcut that enters ISO14755 mode
URxvt.iso14755:             false

! Perl extensions
URxvt.perl-ext-common:      default,matcher,selection-to-clipboard
URxvt.matcher.button:       1
URxvt.url-launcher:         firefox-nightly

! Disable PrtSc-button print so we dont accidentally print all our source code
! several times over on the network printer again
URxvt.print-pipe:           cat > /dev/null

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Bell
URxvt*urgentOnBell:         true

! Pointer
URxvt.pointerBlank:         false

!URxvt*transparent: true

!Colors from color0 to color254 can be set seou1256 (dark)
URxvt*color0: #4e4e4e
URxvt*color1: #d68787
URxvt*color2: #5f865f
URxvt*color3: #d8af5f
URxvt*color4: #85add4
URxvt*color5: #d7afaf
URxvt*color6: #87afaf
URxvt*color7: #d0d0d0
URxvt*color8: #626262
URxvt*color9: #d75f87
URxvt*color10:  #87af87
URxvt*color11:  #ffd787
URxvt*color12:  #add4fb
URxvt*color13:  #ffafaf
URxvt*color14:  #87d7d7
URxvt*color15:  #e4e4e4

!! misc
URxvt.foreground: #d0d0d0
URxvt.depth: 32
URxvt.background: [65]#3a3a3a
URxvt.colorBD: #ffffff
URxvt.underlineColor: #75507B


rofi.color-enabled: true
!                  bg      		  border         separator
rofi.color-window: argb:c8626262, argb:90d0d0d0, argb:90d0d0d0
!                  bg       fg       bg-alt   highlighted background colour   highlighted text colour
rofi.color-normal: argb:00ffffff, #85add4, argb:00ffffff, argb:00ffffff,		  #d0d0d0
rofi.color-active: #282828, #282828, #d79921, #fabd2f, 						  #d79921
rofi.color-urgent: #cc241d, #282828, #cc241d, #fb4934, 						  #ffffff

rofi.separator-style: solid
rofi.sidebar-mode: true
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16

rofi.yoffset: 0
rofi.fake-transparency: false
rofi.location: 0
rofi.width: 35
rofi.font: Noto Sans Bold 14
rofi.lines: 15
rofi.fixed-num-lines: true

!argb:9075507b
